.centrer {
text-align: center;
}

.italic-small{
font-style: italic;
font-size: 10px;

}

nav ul{
    //background-color: blue;
    background: -moz-linear-gradient(blue, white);
    border-radius: 25px;
    //color:white;
    //display:block;
    //height: 50px;
    overflow:hidden;
    margin: 0;
    list-style-type: none;
   
}
nav li{
    //padding-left: 15px;
    //padding-right: 15px;
    //color: white;
    //text-decoration: none;
    //margin: 50px;
    float:left;
    //border:solid;
}
nav li a{
    color:white;
    margin: 0px;
    padding: 10px;
    display:block;
    font-weight: bold;
    text-decoration: none;
}

nav h1{
text-align: center;
color: blue;
}
/* Change the link color on hover */
li a:hover {
    //background-color: #6699ff;
     background: -moz-linear-gradient( #4d4dff, white);
    color: white;
}


fieldset{
margin-top: 20px;
margin-bottom: 20px;
margin-right: 100px;

}

#test{
margin:auto;
display:block;
}

#diplome img {
height: 50px;
display: block;
margin: auto;
}

#civil img{
float: left;
margin: 10px;
}

#comp_it img {
height: 50px;
}

.souligne{
text-decoration : underline;}

.indent{
text-indent: 30px;
}
.fond_scolarite{
background-color: red;
}

#table{
    border: 1px;
    border-style: solid;
    padding:0px;
    margin: 0px;
    
}
.job 

.embl{
    background-color: #0099e6;
}

.etude{
/* text-align : right; */
padding: 2px 2px; /*center vertically*/

}
.etude img{
width: 20px;
height: 20px;
/* margin: 2px 0; */
float:right;
}

.lycee{
    background-color: #ccffcc;
}

.univ{
    background-color: #66ff66;
}

.esbs{
    background-color: #00cc00;
}

#menu{
border-style: solid;
width:70px;
height: 490px;
position: fixed;
right: 17px;
top: 100px;

}

#menu img {
width : 60px;
height: 60px;
display: block;
padding: 5px 5px;

}

#exp ul{
margin-left: 30px;}


legend{
font-size: 20px;
font-weight: bold;
color: blue;}

#exp img {
float: right;
height: 100px;
}



.barre_gauche{
border-left-style: solid;
border-left-color:  #cc6600;
border-left-width: 3px;
padding-left : 20px;
margin-left: 40px;
}

.jobname{
color: #cc6600;
font-weight: bold;
}

.labtopic{
font-style : italic;
background-color:  #ffffcc;
}

.temps{

float: left;
height: 20px;
padding-left: 5px;
padding-top: 2px;
padding-bottom:2px;

/*padding-right: 50px; */
transform: rotate(-90deg);
transform-origin: left top 0;
background-color: #cc6600;
color: white;
}

.pembl{
width: 350px;
}

.pcnrs{
width: 200px;
}

.pnovartis{
width: 135px;
}

.pesbs{
width: 120px;
}


#publi span{
font-weight: bold;
}

#publi ul{
margin-left: 10px;}


#publi li{
padding-top: 5px;
padding-bottom:5px;}

#relation img{
height: 15px;}

.largeur_langue{
padding-left: 20px;
padding-right: 50px;

}
