/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 oct. 2016, 16:52:21
    Author     : chaillma
*/

nav{
    background-color: blue;
    //color:white;
    display:block;
    height: 50px;
    
}
nav a{
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    text-decoration: none;
    margin: 100px;
}